/* @font-face {
    font-family: "Roboto";
    src: url("/Roboto-Medium.ttf") format("truetype");
  } */
  
  body {
    background-color: #0d0e12;
    color: white;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    place-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 600px;
    height: 580px;
    border-radius: 10px;
    background-color:red;
    padding: 10px;
    margin-top: 16%;
  }
  
  .header {
    padding-top: 10px;
    font-size: 36px;
    font-weight: bold;
  }
  
  .btn {
    height: 35px;
    width: 120px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgb(0, 157, 188), rgb(1, 12, 16));
    border: none;
    outline: none;
    color: white;
    box-shadow: 0 3px 6px #00d9ff;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  .form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-items: center;
  }
  
  input {
    height: 35px;
    width: 320px;
    border-radius: 4px;
    background-color: #fff;
    color: black;
    outline: none;
    border: none;
    margin: 10px 0;
    padding: 10px;
  }
  
  input:focus {
    border: 2px solid rgb(243 85 144);
    outline: none;
  }
  .error {
    color: black;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .link-wrapper {
    display: none;
    flex-direction: column;
    margin: 75px 0;
    place-items: center;
    opacity: 0;
    transition: scale 1s ease-in-out;
    scale: 0;
  }
  
  .link-text {
    font-weight: bold;
    color: #1e1717;
    margin: 5px 0;
  }
  
  .short-link {
    display: flex;
    place-items: center;
    place-content: center;
    width: 300px;
    height: 50px;
    background-color: wheat;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    color: black;
    font-weight: bold;
    box-shadow: 0 3px 6px #afada9ba;
  }
  
  .loader {
    width: 40px;
    height: 40px;
  }

  .logoImg{
    width: max-content;
    margin: auto;
  }

  .InstructionsText{
    text-align: center !important;
    padding-right: 40px !important;
    padding-left: 40px !important;
  }

  p{
    text-align: center !important;
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  